@font-face{
    font-family: 'Muli';
    src: url(../Assets/Muli.ttf)
}

@font-face{
    font-family: 'Muli Semibold';
    src: url(../Assets/Muli-SemiBold.ttf);
    font-weight: bold;
}

@font-face{
    font-family: 'Muli Bold';
    src: url(../Assets/Muli-Bold.ttf);
    font-weight: bolder;
}

*{ 
    background-color: white;
    margin: 0;
    font-family: 'Muli', 'Muli Semibold', 'Muli Bold';
}

.navbar{
    background-color: #1C4B82;
    overflow: hidden;
}

.navbar a{
    background-color: #1C4B82;
    color: white;
    padding: 15px 20px;
    display: flex;
    ;
    float: right;
    text-align: center;
    text-decoration: none;
}

.navbar a.right {
    float: right; /* Float a link to the right */
    }

.navbar a:hover {
    color: orange; /* Black text color */
}

#navbar_name {
    background-color: #1C4B82;
    color: white;
    padding: 15px 20px;
    display: flex;
    float: left;
    font-size: 18px;
    text-align: center;
}

#navbar_img{
    background-color: #1C4B82;
    height: 50px;
    margin-left: 10px;
    float: left;
}


